# 📦 Go build artifacts
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# ✅ Go coverage / profiling
coverage.*
*.coverprofile
profile.cov

# 🛠 Go Workspace
go.work
go.work.sum

# 🗃 Database / Journal files
*.db
*.sqlite
*.sqlite3
*.db-journal
internal/test/*.db
internal/test/*.db-journal

# 🔐 Environment / secrets
.env
.env.*

# 📝 Docs / Temp / Logs
*.log
docs/
README.md

# 💻 Editor configs
.idea/
.vscode/

# 🔄 Git metadata
.git/

# 🧪 Testing data
internal/test/data.*
